@import "../globals.css";
.container {
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: #1D1E21;
    border-radius: 24px;
    margin: 1em 1.5em;
    user-select: none;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3em;
}

.logoImg {
    background-color: #F5A12A;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: .1em;
}

.logoText {
    margin-left: 4vh;
    font-family: var(--font-pixelify-sans);
    font-size: 1.5vw;
}

.links {
    display: flex;
    flex-direction: row;
    margin-left: 9vw;
    gap: 8vw;
    align-items: center;
}

.link {
    font-family: var(--font-pixelify-sans);
    background: none;
    border: none;
    color: #ededed;
    font-size: 1vw;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: #F5A12A;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}

.link:hover::after {
    transform: scaleX(1);
}

.active::after {
    transform: scaleX(1);
}
