.navbar_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 3.241vw;
    height: calc(100vh - 6.24vh);
    background-color: #1D1E21;
    align-items: center;
    border-radius: 16px;
    margin-left: 1.72vw;
    margin-top: 3.87vh;
    padding: 0 0.728vw;
}

.navbar_top_container {
    display: flex;
    flex-direction: column;
    gap: 3.157vh;
    margin-top: 2.24vh;

}

.navbar_bottom_container {
    display: flex;
    flex-direction: column;
    gap: 2.037vh;
    margin-bottom: 2.24vh;
}

.navbar_icon {
    stroke: rgb(255, 255, 255);
}

.navbar_icon_selected {
    stroke: #F5A12A;
}

.navbar_icon_exit {
    stroke: #F15757;
}

svg:hover {
    cursor: pointer;
}

svg:hover .navbar_icon,
svg:hover path {
    stroke: #F5A12A;
}